* {
  direction: rtl;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

input:autofill {
  background: #fff; /* or any other */
}
.Vue-Toastification__toast-body {
  font-family: Vazirmatn;
}
